.registration {
  &-back {
    top: 7px !important;
    display: block;
    z-index: 10;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &-wrapper {
    margin-top: 61px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    &-reverse {
      flex-direction: column-reverse;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      margin-top: 35px;
    }
    @media screen and (min-width: 1440px) {
      margin-top: 59px;
    }
    @media screen and (min-width: 1920px) {
      margin-top: 76px;
    }
    @media screen and (min-width: 2560px) {
      margin-top: 129px;
    }
  }
  &-image {
    display: none;
    @media screen and (min-width: 768px) {
      max-width: 369px;
      display: block;
    }
    @media screen and (min-width: 1024px) {
      max-width: 468px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 714px;
    }
    @media screen and (min-width: 1920px) {
      max-width: 714px;
    }
    @media screen and (min-width: 2560px) {
      max-width: 895px;
    }
  }
}
